.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;
    blockquote {
        padding-left: 5rem;
        position: relative;
        &::before {
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            /* Con display block aparece la comilla */
            display: block;
            position: absolute;
            /* A partir de aqui son como coordenadas para colocar el elemento */
            left: -2rem;
            // top: 2rem;
        }
    }
    p {
        text-align: right;
        color: $blanco;
    }
}